<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer" style="background-color: #343a40;padding-bottom: 1em;">
        <div class="col-md-3 foot-item">
            <h4>Related Website</h4>
            <ul>
                <li><a href="http://www.baidu.com" target="_blank">|| Baidu Search</a></li>
                <li><a href="https://www.google.com.hk" target="_blank">|| Google Search</a></li>
            </ul>
        </div>
        <div class="col-md-3 foot-item">
            <h4>Contact Me</h4>
            <ul>
                <li><a href="#">|| Gmail: tsaizhenya@gmail.com</a></li>
                <li><a href="#">|| QQ: 2685246296</a></li>
                <li><a href="https://weibo.com/u/5599451658">|| Weibo: 深大胖虎被占用</a></li>
            </ul>
        </div>

        <div class="col-md-3 foot-item">
            <h4>Others</h4>
            <ul>
                <li><a href="#">|| Notification</a></li>
            </ul>
        </div>

        <div class="col-md-3 foot-item">
            <h4>Follow Me</h4>
            <<img th:src="@{/images/gongzhonghao.jpg}" style="width: 85px;height: 80px;">
        </div>

        <div class="clearfix"></div>
        <div class="copyright" style="text-align: center;">
            <p>Copyrights © 2015 Voguish All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a>
            </p>
            <p>Maintained by <a href="https://github.com/markytsai">MarkyTsai</a></p>
        </div>
    </div>
</div>

