<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer" style="padding-left: 57px;">
        <div class="col-md-3 foot-1">
            <h4>相关网站</h4>
            <ul>
                <li><a href="http://www.baidu.com" target="_blank">|| 百度一下</a></li>
                <li><a href="https://www.google.com.hk" target="_blank">|| Google Search</a></li>
            </ul>
        </div>
        <div class="col-md-3 foot-1">
            <h4>其他事项</h4>
            <ul>
                <li><a href="#">|| 郑重声明</a></li>
            </ul>
        </div>

        <div class="clearfix"></div>
        <div class="copyright">
            <p>Copyrights © 2015 Voguish All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a>
            </p>
        </div>
    </div>
</div>

