<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer" style="padding-left: 144px;background-color: #343a40;padding-bottom: 1em;">
        <div class="col-md-3 foot-1">
            <h4>相关网站</h4>
            <ul>
                <li><a href="http://www.baidu.com" target="_blank">|| 百度一下</a></li>
                <li><a href="https://www.google.com.hk" target="_blank">|| Google Search</a></li>
            </ul>
        </div>
        <div class="col-md-3 foot-1">
            <h4>联系方式</h4>
            <ul>
                <li><a href="#">|| 邮箱：tsaizhenya@gmail.com</a></li>
                <li><a href="#">|| QQ：2685246296</a></li>
                <li><a href="https://weibo.com/u/5599451658">|| 微博：深大胖虎被占用</a></li>
            </ul>
        </div>

        <div class="col-md-3 foot-1">
            <h4>其他事项</h4>
            <ul>
                <li><a href="#">|| 郑重声明</a></li>
            </ul>
        </div>

        <div class="col-md-3 foot-1">
            <h4>关注公众号</h4>
            <<img src="http://localhost:8081/images/gongzhonghao.jpg" style="width: 85px;height: 80px;">
        </div>

        <div class="clearfix"></div>
        <div class="copyright" style="margin-left: -161px;">
            <p>Copyrights © 2015 Voguish All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a>
            </p>
        </div>
    </div>
</div>

