<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="head-container">
        <div class="header">
            <div class="logo">
                <div style="display: flex;">
                    <h2 style="color: #a29997;font-size: 25px;font-weight: 700;margin-top: 2px;margin-bottom: 0px;">
                        <a th:href="@{/}" data-toggle="tooltip" data-placement="bottom">Javadudu</a>
                    </h2>
                    <span style="color: white;margin-left: 5px;">TM</span>
                </div>
            </div>

            <div class="head-nav">
                <span class="menu"> </span>
                <ul class="cl-effect-1">
                    <li><a th:href="@{/}">Home</a></li>
                    <!--<li><a th:href="@{/blogs}">Blog</a></li>-->
                    <li><a th:href="@{/service}">Micro Service</a></li>
                    <li><a th:href="@{/codeSnipet}">Snippet</a></li>
                    -p -uroot
                    <li><a th:href="@{/tutorials/git}">Git</a></li>
                    <li><a th:href="@{/about}">Author</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <!--<li><a th:href="@{/admin/login}">Login</a></li>-->
                    <!--<div class="clearfix"></div>-->
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-bottom">
        <ul>
            <li><a href="/">AI</a></li>
            <li><a href="/">Big Data</a></li>
            <li><a href="/">Cloud</a></li>
            <li><a href="/">Database</a></li>
            <li><a href="/">DevOps</a></li>
            <li><a href="/">Java</a></li>
            <li><a href="/">Security</a></li>
            <li><a href="/">Web Dev</a></li>
            <span id="date_time" style="float: right;padding-right: 5px;padding-top: 3px;"></span>
        </ul>
    </div>
    <!--<div class="no-bar-below" style="background-color: #e5e5e5">-->
    <!--<div class="container">-->
    <!--<div class="row" style="text-align: center;word-spacing: 2px;">-->
    <!--<div class="text col-xs-12 col-sm-12">-->
    <!--<span class="announcement" style="font-family: Time New Roman;">java 12 is here:</span>-->
    <!--<span style="color:#244977;"><a-->
    <!--href="https://jaxenter.com/java-12-interview-donald-smith-157013.html">Don't miss this interview with Oracle's Donald Smith about the new features, the ousted Raw String Literals &amp; more! </a>													</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<!-- header -->