<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="head-container">
        <div class="header">
            <div class="logo">
                <div style="display: flex;">
                    <h2 style="color: #a29997;font-size: 25px;font-weight: 700;margin-top: 2px;margin-bottom: 0px;">
                        <a th:href="@{/}" data-toggle="tooltip" data-placement="bottom">JavaMount</a>
                    </h2>
                    <span style="color: white;margin-left: 5px;">TM</span>
                </div>
            </div>

            <div class="head-nav">
                <span class="menu"> </span>
                <ul class="cl-effect-1">
                    <li><a th:href="@{/}">Home</a></li>
                    <!--<li><a th:href="@{/blogs}">Blog</a></li>-->
                    <li><a th:href="@{/service}">Micro Service</a></li>
                    <li><a th:href="@{/codeSnipet}">Snippet</a></li> -p -uroot
                    <li><a th:href="@{/tutorials/git}">Git</a></li>
                    <li><a th:href="@{/about}">Author</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                    <!--<li><a th:href="@{/admin/login}">Login</a></li>-->
                    <!--<div class="clearfix"></div>-->
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-bottom">
        <ul class="portals header-container">
            <li>
                <a href="/refcardz" id="header-refcardz"><em>Refcardz</em></a></li>
            <li>
                <a href="/guides" id="header-guides"><em>Guides</em></a></li>
            <li>
                <a href="/portals" id="header-portals"><em>Zones</em></a></li>

            <li>
                <a ng-class="{'active-state': isActivePortal(2)}" href="/agile-methodology-training-tools-news"
                   id="header-2">
                    Agile</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(4001)}"
                   href="/artificial-intelligence-tutorials-tools-news" id="header-4001">
                    AI</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(3)}" href="/big-data-analytics-tutorials-tools-news"
                   id="header-3">
                    Big Data</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(4)}" href="/cloud-computing-tutorials-tools-news"
                   id="header-4">
                    Cloud</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(5)}" href="/database-sql-nosql-tutorials-tools-news"
                   id="header-5">
                    Database</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(6)}" href="/devops-tutorials-tools-news" id="header-6">
                    DevOps</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(7)}" href="/enterprise-integration-training-tools-news"
                   id="header-7">
                    Integration</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(8)}" href="/iot-developer-tutorials-tools-news-reviews"
                   id="header-8">
                    IoT</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(1)}" href="/java-jdk-development-tutorials-tools-news"
                   id="header-1">
                    Java</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(6001)}" href="/microservices-news-tutorials-tools"
                   id="header-6001">
                    Microservices</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(7001)}" href="/open-source-news-tutorials-tools"
                   id="header-7001">
                    Open Source</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(10)}" href="/apm-tools-performance-monitoring-optimization"
                   id="header-10">
                    Performance</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(2001)}" href="/application-web-network-security"
                   id="header-2001">
                    Security</a>
            </li>
            <li>
                <a ng-class="{'active-state': isActivePortal(11)}"
                   href="/web-development-programming-tutorials-tools-news" id="header-11">
                    Web Dev</a>
            </li>
        </ul>
    </div>
    <div class="no-bar-below" style="background-color: #e5e5e5">
        <div class="container">
            <div class="row" style="text-align: center;word-spacing: 2px;">
                <div class="text col-xs-12 col-sm-12">
                    <span class="announcement" style="font-family: Time New Roman;">java 12 is here:</span>
                    <span style="color:#244977;"><a
                            href="https://jaxenter.com/java-12-interview-donald-smith-157013.html">Don't miss this interview with Oracle's Donald Smith about the new features, the ousted Raw String Literals &amp; more! </a>													</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header -->