<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="header">
            <div class="logo">
                <div>
                    <h2 style="color: #a29997;font-size: 20px;font-weight: 700;">
                        <a href="/index" data-original-title="写博客、记日志、闲聊扯淡鼓捣技术" data-toggle="tooltip"
                           data-placement="bottom">Tsaizhenya的博客
                        </a>
                    </h2>
                    <p class="site-description">写博客、记日志、闲聊扯淡鼓捣技术</p>
                </div>
            </div>

            <div class="head-nav">
                <span class="menu"> </span>
                <ul class="cl-effect-1">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="404.html">Shortcodes</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- header -->