<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tsaizhenya - tutorial Git</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Tsaizhenya"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/tutorial.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>

</head>
<body>
<div class="header-stick-top" th:include="common/header :: header"></div>

<div class="tutorial-banner">
    <h1>Git</h1>
    <img width="864" height="324" src="">
</div>

<div class="container">
    <div class="blog">

        <div class="blog-content">
            <div class="blog-content-left">
                <div class="blog-articals">

                </div>
            </div>
            <div class="blog-content-right">
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>

</body>
</html>