<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tsaizhenya的个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="tsaizhenya的个人博客"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>

    <link th:href="@{http://localhost:8081/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{http://localhost:8081/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{http://localhost:8081/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{http://localhost:8081/css/flexslider.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!-- header -->
<div th:include="common/header :: header"></div>
<!-- header -->
<!-- content -->
<div class="container">
    <div class="content-top" style="margin-left: 25px;margin-right: 25px;">

        <div class="single">
            <div class="single-top">

                <h3 class="page-nav">
                    <strong>您现在的位置是: </strong><a th:href="@{/}">网站首页</a>&nbsp;>&nbsp;<a th:href="@{/about.html}">关于我</a>
                </h3>

                <p><strong>关于站长</strong></p>

                <p>蔡振亚，男，97年生，安徽人。</p>

                <p>建站时间：2019.01-2019.02。</p>

                <p>2018年8月至将来一直潜心研究Java，一边读书一边学习Java，完成该作品时、大四。</p>

                <p><strong>为什么要做这个网站</strong></p>

                <p>（1）如果学过某个知识的话，写成Blog，在未来某个时刻其实可以很轻易的找到这份笔记，然后查看一下之前所学，温故而知新。</p>

                <p>（2）写文章或者Blog和看书是截然不同的。写文章的话，首先不仅要看懂书本上的内容，还要整理成自己的语言描述出来，其实能够在某种程度上加深自己对知识的理解。</p>

                <p>（3）持续写Blog的话，其实在未来的时候可以翻看自己的成长记录。</p>

                <p>（4）持续写Blog能够看到自己一点一点的进步。人生毕竟是一场马拉松，而不是一场百米冲刺。</p>

            </div>
            <div class="blog-content-right">
                <h3 class="intro-card">我的名片</h3>
                <div class="card" style="padding-top: 14px;padding-bottom: 4px;">
                    <img src="images/author.png" style="margin-left: 42px;width: 149px;height: 67px;">
                    <address style="width: 85%;margin-left: 18px;">
                        <p style="margin-top: 12px;background-color: #f6f6f6;padding-top: 4px;padding-bottom: 4px;">职业：Java开发工程师，前端爱好者，历史学爱好者</p>
                        <p style="margin-top: 6px;background-color: #f6f6f6;padding-top: 4px;padding-bottom: 4px;">地址：广东省深圳市</p>
                        <p style="margin-top: 6px;background-color: #f6f6f6;padding-top: 4px;padding-bottom: 4px;">邮箱: <a href="#">tsaizheny@gmail.com</a></p>
                        <p style="margin-top: 6px;background-color: #f6f6f6;padding-top: 4px;padding-bottom: 4px;">扣扣: 2685246296</p>
                    </address>
                </div>
                <!--start-twitter-weight-->
                <div class="twitter-weights">
                    <img src="images/wechat_QRcode.png" style="width: 281px;height: 281px;">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- content -->

</div>
<div th:include="common/footer :: footer"></div>

<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/blog.js"></script>

</body>
</html>