<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tsaizhenya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="tsaizhenya"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/flexslider.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!-- header -->
<div class="header-stick-top" th:include="common/header :: header"></div>
<!-- header -->
<!-- content -->
<div class="container">
    <div class="content-top" style="margin-left: 25px;margin-right: 25px;">

        <div class="single">
            <div class="single-top">

                <h3 class="page-nav">
                    <strong>Your Location: </strong><a th:href="@{/}">Home</a>&nbsp;>&nbsp;<a th:href="@{/about.html}">Author</a>
                </h3>

                <p><strong>About me</strong></p>

                <p>Tsaizhenya, Male, born in 1997.</p>

                <p>Website creation time: Jun. 2019 to Feb. 2019</p>

                <p>From Aug. 2018 to now, I have been studying Java for more than one year, Graduated in 3 months, I
                    finished this website.</p>

                <p><strong>Why This Java Website?</strong></p>

                <p>1. If you have learned a new certain piece of knowledge, noting it down is a considerable idea. You
                    can easily find that note sometime in the future, check out what you have learned before and try to
                    find brand new then.</p>

                <p>1. If you have learned a new certain piece of knowledge, noting it down is a considerable idea. You
                    can easily find that note sometime in the future, check out what you have learned before and try to
                    find brand new then.</p>

                <p>2. Writing an article is very different from reading a book. To write an accepted article, you must
                    very first understand not only the contents, but also the description style of your own language. In
                    fact, you can deepen your understanding of knowledge to some extent this way.</p>

                <p>3. Keeping writing the blog can reflect your progress little by little. Life is a marathon, not a
                    hundred-meter sprint, after all.
                </p>

            </div>
            <div class="blog-content-right">
                <h3 class="page-nav">My Profile</h3>
                <div class="card" style="padding-top: 14px;padding-bottom: 4px;background-color: #d8d4d429;">
                    <img src="images/author.png" style="margin-left: 42px;width: 149px;height: 67px;">
                    <address style="width: 85%;margin-left: 18px;">
                        <p style="margin-top: 12px;background-color: #f6f6f6;padding-top: 4px;padding-bottom: 4px;">
                            Position: Java Developer, amateur in front end and history</p>
                        <p style="margin-top: 6px;background-color: #f6f6f6;padding-top: 4px;padding-bottom: 4px;">
                            Addresss: Shenzhen, Guangdong</p>
                        <p style="margin-top: 6px;background-color: #f6f6f6;padding-top: 4px;padding-bottom: 4px;">Mail:<a
                                href="#"> tsaizheny@gmail.com</a></p>
                        <p style="margin-top: 6px;background-color: #f6f6f6;padding-top: 4px;padding-bottom: 4px;">QQ:
                            2685246296</p>
                    </address>
                </div>
                <!--start-twitter-weight-->
                <div class="twitter-weights">
                    <img src="images/wechat_QRcode.png" style="width: 281px;height: 251px;">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- content -->

</div>
<div th:include="common/footer :: footer"></div>

<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/blog.js"></script>

</body>
</html>