<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tsaizhenya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Tsaizhenya"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/blogs.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>

</head>
<body>
<!-- header -->
<div class="header-stick-top" th:include="common/header :: header"></div>
<!-- header -->
<!-- Blog -->
<div class="container" style="margin-top: 20px;">
    <div class="blog">

        <div class="blog-content">
            <div class="col-md-12 featured-header">
                <div class="latest-header">
                    <div class="">
                        <h2>Java has involved to </h2>
                        <span id="date-id" class="date ng-binding">Monday, April 15</span>
                    </div>
                    <div class="pull-right">
                        <!-- ngIf: canEdit -->
                    </div>
                </div>
            </div>
            <div class="blog-content-left">
                <div class="blog-articals">

                    <div class="blog-artical" th:each="blog : ${blogList}">
                        <div class="blog-artical-info">
                            <div class="blog-artical-info-head">
                                <h2>
                                    <a th:href="@{'/blog/' + ${blog.blogUrl}}" th:text="${blog.blogTitle}"
                                       th:title="${blog.blogTitle}"></a>
                                </h2>
                                <div style="display: flex;">
                                    <h6>Posted on <span
                                            th:text="${#dates.format(blog.blogAddTime, 'yyyy-MM-dd hh:mm:ss')}"/> by
                                        Tsaizenya</h6>
                                </div>

                            </div>
                            <div class="blog-artical-info-text" style="margin-top: -15px;">
                                <p th:text="${blog.blogSummary}"/>
                            </div>
                        </div>
                        <!--<div class="clearfix"></div>-->
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!--//End-blog-pagenate-->
            </div>
            <div class="blog-content-right">
                <div class="b-search">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div style="padding-top: 16px;">
                    <h3 style="font-size: 1.2em;font-weight: 600;border-bottom: #000 2px solid;font-family: 'Libre Baskerville', serif;">
                        Profile</h3>
                    <ul class="person-intro">
                        <li class="clearfix" style="">
                            <div class="interviewee-picture"
                                 style="">
                                <img src="/images/author_half.jpg">
                            </div>

                            <div class="author-name"><strong>Tsai Zhenya</strong></div>
                            <div class="author-summary"><p>Tsai Zhenya will be a junior Staff Software
                                Engineer at Youzan, which for the last 7 years is providing SaaS. Outside of work,
                                Evan enjoys being a dad and slowly running long-distance races.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="b-tag-weight">
                    <h3 style="font-size: 1.2em;font-weight: 600;border-bottom: #000 2px solid;">Tags Wall</h3>
                    <ul>
                        <li th:each="topic: ${categoryList}">
                            <a th:href="@{'/topic/' + ${topic.topicId}}"
                               th:text="${topic.topicName} + '(' + ${topic.relateBlogNum} + ')'"/>
                        </li>
                    </ul>
                </div>
                <!--start-twitter-weight-->
                <div class="twitter-weights">
                    <h3 style="font-size: 1.2em;font-weight: 600;border-bottom: #000 2px solid;">Recent Post</h3>
                    <div class="twitter-weight-grid" style="padding-bottom: 2px;"
                         th:each="blog : ${recentBlogList}">
                        <h5 style="font-size: 13px;margin-bottom: 0px;"><a th:href="@{'/blog/' + ${blog.blogUrl}}"
                                                                           th:text="${blog.blogTitle}"></a></h5>
                        <i th:text="${#dates.format(blog.blogAddTime, 'MM-dd')}"/>
                    </div>

                    <!--<a class="twittbtn" href="#">查看最近所有文章</a>-->

                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<div th:include="common/footer :: footer"></div>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
<script src="js/header.js"></script>
<script type="text/javascript">window.onload = date_time('date_time');</script>
<script src="js/responsiveslides.min.js"></script>
<script type="text/javascript" src="js/jquery.flexisel.js"></script>

<script>

    window.onload = clock();//setInterval(clock, 1000);

    function clock() {
        var d = new Date();
        var date = d.getDate();
        var year = d.getFullYear();
        var month = d.getMonth();
        var monthArr = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        month = monthArr[month];
        document.getElementById("date-id").innerHTML = date + " " + month + ", " + year;
    }
</script>

</body>
</html>