<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tsaizhenya的个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Tsaizhenya的个人博客"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{css/common.css}" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>
<!-- header -->
<div th:include="common/header :: header"></div>
<!-- header -->
<!-- Blog -->
<div class="container">
    <div class="blog">

        <div class="blog-content">
            <div class="blog-content-left">
                <div class="blog-articals">

                    <div class="blog-artical" th:each="blog : ${blogList}">
                        <div class="blog-artical-info">
                            <div class="blog-artical-info-head">
                                <h2><a th:href="@{'/blog/' + ${blog.blogId}}" th:text="${blog.blogTitle}"></a></h2>
                                <h6>Posted on <span
                                        th:text="${#dates.format(blog.blogAddTime, 'yyyy-MM-dd hh:mm:ss')}"/> by
                                    Tsaizenya</h6>

                            </div>
                            <div class="blog-artical-info-text">
                                <p th:text="${blog.blogSummary}"/>
                            </div>
                            <div class="artical-links">
                                <ul style="padding-left: 0;">
                                    <li>
                                        <small></small>
                                        <span th:text="${#dates.format(blog.blogAddTime, 'yyyy-MM-dd hh:mm:ss')}"/></li>
                                    <li><a href="#">
                                        <small class="admin"></small>
                                        <span>Tsaizhenya</span></a></li>
                                    <li><a href="#">
                                        <small class="no"></small>
                                        <span>暂无评论</span></a></li>
                                    <li><a th:href="@{'/blog/' + ${blog.blogId}}">
                                        <small class="posts"></small>
                                        <span>查看博客详情</span></a></li>
                                    <li><a href="#">
                                        <small class="link"></small>
                                        <span>参考链接</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--start-blog-pagenate-->
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!--//End-blog-pagenate-->
            </div>
            <div class="blog-content-right">
                <div class="b-search">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>

                <div class="b-tag-weight">
                    <h3>标签墙</h3>
                    <ul>
                        <li th:each="topic: ${topicList}">
                            <a th:href="@{'/topic/' + ${topic.topicId}}"
                               th:text="${topic.topicName} + '(' + ${topic.relateBlogNum} + ')'"/>
                        </li>
                    </ul>
                </div>

                <div class="twitter-weights">
                    <h3>热点文章</h3>
                    <div class="twitter-weight-grid" style="padding-bottom: 2px;"
                         th:each="blog : ${hotBlogList}">
                        <h5 style="font-size: 13px;margin-bottom: 0px;"><a th:href="@{'/blog/' + ${blog.blogId}}"
                                                                           th:text="${blog.blogTitle}"></a></h5>
                        <i th:text="${#dates.format(blog.blogAddTime, 'MM-dd')}"/>
                    </div>

                    <a class="twittbtn" href="#">查看最近所有文章</a>
                </div>

            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<div th:include="common/footer :: footer"></div>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script type="text/javascript" src="js/jquery.flexisel.js"></script>

</body>
</html>