<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Contact me</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="tsaizhenya"/>
    <!--<script type="application/x-javascript"> addEventListener("load", function () {-->
        <!--setTimeout(hideURLbar, 0);-->
    <!--}, false);-->

    <!--function hideURLbar() {-->
        <!--window.scrollTo(0, 1);-->
    <!--} </script>-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen"/>


    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/flexslider.css}" rel="stylesheet" type="text/css" media="screen"/>

    <script src="js/responsiveslides.min.js"></script>
</head>
<body>
<div class="header-stick-top" th:include="common/header :: header"></div>
<div class="container">
    <div class="contact">
        <div class="main-head-section">

            <h3>Touch with me anytime</h3>

            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424396.3176723366!2d150.92243255000002!3d-33.7969235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney+NSW%2C+China!5e0!3m2!1sen!2sin!4v1431587453420"
                        width="100%" height="151px" frameborder="0" style="border:0"></iframe>
            </div>
        </div>

        <div class="contact_top">

            <div class="col-md-8 contact_left">
                <h4>Contact Methods</h4>
                <p>You can contact me through emails</p>
                <form>
                    <div class="form_details">
                        <input type="text" class="text" value="Name" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Name';}">
                        <input type="text" class="text" value="Email Address" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Email Address';}">
                        <input type="text" class="text" value="Subject" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Subject';}">
                        <textarea value="Message" onfocus="this.value = '';"
                                  onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                        <div class="clearfix"></div>
                        <div class="sub-button">
                            <input type="submit" value="Send">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 company-right">
                <div class="company_ad">
                    <h3 style="margin-left: -4px;">Here are my contact methods</h3>
                    <!--<span>以下是我的联系方式</span>-->
                    <address>
                        <p>Email: <a href="#">tsaizheny@gmail.com</a></p>
                        <p>QQ Acount: 2685246296</p>
                        <p>Address: Shenzhen, Guangdong, China</p>
                    </address>
                </div>

            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<div th:include="common/footer :: footer"></div>
</body>
</html>