<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tsaizhenya</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Tsaizhenya"/>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'/>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>
<!-- header -->
<div class="header-stick-top" th:include="common/header :: header"></div>
<div class="container">
    <div style="margin-left: 25px;margin-right: 25px;">
        <div class="col-md-9 bann-left" style="background-color: white;float: left;width: 69%;padding: 1em;">
            <!-- banner -->
            <div class="banner">
                <div class="header-slider">
                    <div class="slider">
                        <div class="callbacks_container">
                            <ul class="rslides" id="slider">
                                <li>
                                    <img src="images/1.jpg" class="img-responsive" alt="">
                                    <div class="caption">
                                        <h3>银烛秋光冷画屏</h3>
                                        <p>秋夜，白色的烛光映着冷清的画屏</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/4.jpg" class="img-responsive" alt="">
                                    <div class="caption">
                                        <h3>轻罗小扇扑流萤</h3>
                                        <p>我手执绫罗小扇，轻盈地扑打流萤</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/5.jpg" class="img-responsive" alt="">
                                    <div class="caption">
                                        <h3>天阶夜色凉如水</h3>
                                        <p>天街上的夜色，有如井水般地清凉</p>
                                    </div>
                                </li>
                                <li>
                                    <img src="images/6.jpg" class="img-responsive" alt="">
                                    <div class="caption">
                                        <h3>坐看牵牛织女星</h3>
                                        <p>卧榻仰望星空，牵牛星正对织女星</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- banner -->
            <!-- nam-matis -->
            <div class="nam-matis">
                <div class="nam-matis-top">
                    <div class="col-md-6 nam-matis-1">
                        <a href="/blogDetail"><img src="images/5.jpg" class="img-responsive" alt=""></a>
                        <h3><a href="/blogDetail">uspendisse a pellentesque dui</a></h3>
                        <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus
                            felis, malesuada ultricies. Curabitur et ligula.</p>
                    </div>
                    <div class="col-md-6 nam-matis-1">
                        <a href="/blogDetail"><img src="images/6.jpg" class="img-responsive" alt=""></a>
                        <h3><a href="/blogDetail">Suspendisse a pellentesque dui</a></h3>
                        <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus
                            felis, malesuada ultricies. Curabitur et ligula.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="nam-matis-top">
                    <div class="col-md-6 nam-matis-1">
                        <a href="/blogDetail"><img src="images/4.jpg" class="img-responsive" alt=""></a>
                        <h3><a href="/blogDetail">Suspendisse a pellentesque dui</a></h3>
                        <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus
                            felis, malesuada ultricies. Curabitur et ligula.</p>
                    </div>
                    <div class="col-md-6 nam-matis-1">
                        <a href="/blogDetail"><img src="images/1.jpg" class="img-responsive" alt=""></a>
                        <h3><a href="/blogDetail">Suspendisse a pellentesque dui</a></h3>
                        <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus
                            felis, malesuada ultricies. Curabitur et ligula.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- nam-matis -->
        </div>

        <div class="col-md-3 bann-right" style="float: right;width: 28.5%;padding: 1em;background-color: white;">
            <!--搜索框-->
            <div class="b-search">
                <form>
                    <input type="text" value="Search" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="">
                </form>
            </div>

            <h3>Latest news</h3>
            <div class="blo-top">
                <div class="blog-grids">
                    <div class="blog-grid-left">
                        <a href="/blogDetail"><img src="images/1b.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="blog-grid-right">
                        <h4><a href="/blogDetail">Java for Serverless</a></h4>
                        <p>Java for Serverless: Ahead-of-Time Compilation With Micronaut and GraalVM</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="blog-grids">
                    <div class="blog-grid-left">
                        <a href="/blogDetail"><img src="images/2b.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="blog-grid-right">
                        <h4><a href="/blogDetail">Microservices/a></h4>
                        <p>Configuring Microservices With MicroProfile and Kubernetes </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="blog-grids">
                    <div class="blog-grid-left">
                        <a href=""><img src="images/3b.jpg" class="img-responsive" alt=""></a>
                    </div>
                    <div class="blog-grid-right">
                        <h4><a href="/blogDetail">Microservices</a></h4>
                        <p>Configuring Microservices With MicroProfile and Kubernetes</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <h3>分类</h3>
            <div class="blo-top">
                <li><a href="#">|| Java框架</a></li>
                <li><a href="#">|| 操作系统</a></li>
                <li><a href="#">|| 计算机网络</a></li>
                <li><a href="#">|| 数据库</a></li>
                <li><a href="#">|| 算法</a></li>
                <li><a href="#">|| 编程艺术</a></li>
            </div>

            <h3>简信</h3>
            <div class="blo-top">
                <div class="name">
                    <form>
                        <input type="text" placeholder="email" required="">
                    </form>
                </div>
                <div class="button">
                    <form>
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="fle-xsel" style="margin-top: 30px;background-color: white;">

        <ul id="flexiselDemo3">
            <li>
                <a href="#">
                    <div class="banner-1">
                        <img src="images/6.jpg" class="img-responsive" alt="">
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="banner-1">
                        <img src="images/5.jpg" class="img-responsive" alt="">
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="banner-1">
                        <img src="images/1.jpg" class="img-responsive" alt="">
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="banner-1">
                        <img src="images/4.jpg" class="img-responsive" alt="">
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="banner-1">
                        <img src="images/6.jpg" class="img-responsive" alt="">
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="banner-1">
                        <img src="images/1.jpg" class="img-responsive" alt="">
                    </div>
                </a>
            </li>
        </ul>


        <div class="clearfix"></div>
    </div>

</div>
<div th:include="common/footer :: footer"></div>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script type="text/javascript" src="js/jquery.flexisel.js"></script>

</body>
</html>