<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tsaizhenya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="tsaizhenya"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/blogs.css}" rel="stylesheet" type="text/css" media="all"/>

    <link th:href="@{/css/flexslider.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!-- header -->
<div class="header-stick-top" th:include="common/header :: header"></div>
<!-- header -->
<!-- content -->
<div class="container">
    <div class="content-top" style="margin-left: 25px;margin-right: 25px;margin-top: 30px;">

        <div class="single">
            <div class="single-top">
                <div class="blog-title">
                    <h3 th:text="${blog.blogTitle}"></h3>
                </div>
                <div class="b-tag-weight" style="margin-top: -17px;margin-bottom: -8px;">
                    <ul>
                        <li th:each="topic: ${blogRelatedCategoryList}">
                            <a th:href="@{'/topic/' + ${topic.topicId}}" th:text="${topic.topicName}"/>
                        </li>
                    </ul>
                </div>
                <div class="artical-links">
                    <ul style="padding-left: 0;">
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span th:text="${#dates.format(blog.blogAddTime, 'yyyy-MM-dd hh:mm:ss')}"/></li>
                        <li><i class="fa fa-user"></i>
                            <span>Mark</span></li>
                        <li><i class="fa fa-comments-o"></i>
                            <span>comment(0)</span></li>
                        <li><i class="fa fa-eye"></i>
                            <span th:text="'read(' + ${blog.blogClicknum} + ')'"/></span></li>
                    </ul>
                </div>

                <div id="blog-header">
                    <blockquote class="abstract" th:utext="${blog.blogSummary}"/>
                </div>

                <div class="article-content" th:utext="${blog.blogContent}"></div>

                <div id="reference" class="reference-list" style="padding-top: 51px;margin-top: -51px;">
                    <div>
                        <span th:text="[1]"></span>
                        <span>reference1</span>
                    </div>
                    <div>
                        <span th:text="[2]"></span>
                        <span>reference1</span>
                    </div>
                    <div>
                        <span th:text="[3]"></span>
                        <span>reference1</span>
                    </div>
                </div>

            </div>
            <div class="blog-content-right">
                <div class="b-search">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div style="padding-top: 16px;">
                    <h3 style="font-size: 1.2em;font-weight: 600;border-bottom: #000 2px solid;">Profile</h3>
                    <ul class="person-intro">
                        <li class="clearfix" style="">
                            <div class="interviewee-picture"
                                 style="">
                                <img src="/images/author_half.jpg">
                            </div>

                            <div class="author-name"><strong>Tsai Zhenya</strong></div>
                            <div class="author-summary"><p>Tsai Zhenya will be a junior Staff Software
                                Engineer at Youzan, which for the last 7 years is providing SaaS. Outside of work,
                                I enjoy slowly running long-distance races.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="b-tag-weight">
                    <h3 style="font-size: 1.2em;font-weight: 600;border-bottom: #000 2px solid;">Tags Wall</h3>
                    <ul>
                        <li th:each="topic: ${categoryList}">
                            <a th:href="@{'/topic/' + ${topic.topicId}}"
                               th:text="${topic.topicName} + '(' + ${topic.relateBlogNum} + ')'"/>
                        </li>
                    </ul>
                </div>
                <!--start-twitter-weight-->
                <div class="twitter-weights">
                    <h3 style="font-size: 1.2em;font-weight: 600;border-bottom: #000 2px solid;">Recent Post</h3>
                    <div class="twitter-weight-grid" style="padding-bottom: 2px;"
                         th:each="blog : ${recentBlogList}">
                        <h5 style="font-size: 13px;margin-bottom: 0px;"><a th:href="@{'/blog/' + ${blog.blogUrl}}"
                                                                           th:text="${blog.blogTitle}"></a></h5>
                        <i th:text="${#dates.format(blog.blogAddTime, 'MM-dd')}"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- content -->
    <div class="back-to-top">
        <p>
            <a th:href="@{#}">Back to top</a>
        </p>
    </div>
</div>
<div th:include="common/footer :: footer"></div>

<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/blog.js"></script>
<script src="js/header.js"></script>
<script type="text/javascript">window.onload = date_time('date_time');</script>

</body>
</html>