<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tsaizhenya的个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="tsaizhenya的个人博客"/>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet'
          type='text/css'>

    <link th:href="@{http://localhost:8081/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{http://localhost:8081/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{http://localhost:8081/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{http://localhost:8081/css/flexslider.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!-- header -->
<div th:include="common/header :: header"></div>
<!-- header -->
<!-- content -->
<div class="container">
    <div class="content-top" style="margin-left: 25px;margin-right: 25px;">

        <div class="single">
            <div class="single-top">
                <div class="blog-title">
                    <p>
                    <h3 th:text="${blog.blogTitle}"></h3></p>
                </div>
                <div class="b-tag-weight" style="margin-top: -17px;">
                    <ul>
                        <li th:each="topic: ${blogRelatedTopicList}">
                            <a th:href="@{'/topic/' + ${topic.topicId}}" th:text="${topic.topicName}"/>
                        </li>
                    </ul>
                </div>
                <div class="artical-links">
                    <ul style="padding-left: 0;">
                        <li>
                            <small></small>
                            <span th:text="${#dates.format(blog.blogAddTime, 'yyyy-MM-dd hh:mm:ss')}"
                                  style="margin-left: -4px;"/></li>
                        <li><a href="#">
                            <small class="admin"></small>
                            <span style="margin-left: -4px;">Tsaizhenya</span></a></li>
                        <li><a href="#">
                            <small class="no"></small>
                            <span style="margin-left: -4px;">暂无评论</span></a></li>
                        <li><a href="#">
                            <small class="link"></small>
                            <span style="margin-left: -4px;">参考链接</span></a></li>
                    </ul>
                </div>

                <p th:utext="${blog.blogContent}"></p>

            </div>
            <div class="blog-content-right">
                <div class="b-search">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="b-tag-weight">
                    <h3>标签墙</h3>
                    <ul>
                        <li th:each="topic: ${topicList}">
                            <a th:href="@{'/topic/' + ${topic.topicId}}"
                               th:text="${topic.topicName} + '(' + ${topic.relateBlogNum} + ')'"/>
                        </li>
                    </ul>
                </div>
                <!--start-twitter-weight-->
                <div class="twitter-weights">
                    <h3>近期文章</h3>
                    <div class="twitter-weight-grid" style="padding-bottom: 2px;"
                         th:each="blog : ${recentBlogList}">
                        <h5 style="font-size: 13px;margin-bottom: 0px;"><a th:href="@{'/blog/' + ${blog.blogId}}"
                                                                           th:text="${blog.blogTitle}"></a></h5>
                        <i th:text="${#dates.format(blog.blogAddTime, 'MM-dd')}"/>
                    </div>

                    <a class="twittbtn" href="#">查看最近所有文章</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- content -->
</div>
<div th:include="common/footer :: footer"></div>

<script src="js/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/blog.js"></script>

</body>
</html>